 @import url('https://fonts.googleapis.com/css?family=Mukta:700');

$bg-color : rgb(250, 242, 237);
$lightblue-color : #313030;
$rightviolet-color : #bebdbe;

 
$white: #fff;
$black: #282936;



* { 
    margin : 0 ; 
    padding:  0 ;  
}


html , body {
    height: 100%;
    
    width: 100%;
    overflow-x: hidden;

}

body {
    background-color: $bg-color;  
    font-family: 'Mukta', sans-serif; 




    textarea:focus, input:focus{
        outline: none;
    }
}


.landing__section {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 50% 50%;

    .first {
        width: 100%;
        height: 100%;   
        background-color: $lightblue-color;
        position: relative; 

        h2 { 
            position: absolute; 
            left: 5%;
            top: 2%;
            font-size: 27px;
            color: $bg-color;
        }
        .container {
            position: absolute;
            right: 3%;
            top: 9%;
            display: flex;
            padding: 10px;
            transform: translateY(-50%); 
            overflow: hidden;


            .searchButton { 
                margin-left: 8px;
                color: $bg-color; 
                border-radius: 50%;
                cursor: pointer;

                .fas     { 
                    padding: 9px;  
                }

                .fa-times  {
                    padding: 8px 11px ; 
                    color:  $bg-color; 
                }
            }

            .fa-shopping-cart { 
                margin-left: 8px;  
                cursor: pointer;
                padding: 9px  5px 9px 5px; 
                color: $bg-color;
                
            }
            input { 
                max-width: 80%;
                border: none;
                background-color: #04eeee00;
                border-bottom: 1px solid $bg-color; 
                transform: translateY(150%);
                transition-duration: 1000ms;
 


                &::placeholder {
                    color: $bg-color;
                    font-size: 14px;
                    letter-spacing: 1px; 
                }
            }
        }


        img { 
            width: 100%;
            position: absolute;
            bottom: -25% ; 
            left: 50%;
            transform: translateX(-50%)rotate(65deg);
            animation: move 3s forwards;
            z-index: 10;

            @keyframes move {
                0% { 
                    bottom:0%;
                    transform: translateX(-50%)rotate(65deg);
                }

                60%{
                    bottom:-35;
                    transform: translateX(-50%)rotate(65deg);
                }

                80%{
                    bottom:-25%;
                    transform: translateX(-50%)rotate(360deg);
                } 
                90%{
                    bottom:-25%;
                    transform: translateX(-50%)rotate(0deg);
                }  
                100%{
                    bottom:-30%;
                    transform: translateX(-50%)rotate(0deg);
                }
            }
        }
        h1 { 
            position: absolute;
            top: 35%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 100%;
            text-align: center;
            font-size: 38px;
            text-transform: uppercase;
            color: $bg-color;
        }
    }


    .second { 
        width: 100%;
        height: 100%;
        background-color: $lightblue-color ;
        position : relative; 


        .checkout { 
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-50%,-50%);
            text-align: center;
            text-decoration: none;
            font-size: 20px;
            color: $bg-color;
            padding: 15px 20px;
            border: 1px solid $bg-color;
            border-radius: 5px;
            transition-duration: 700ms;


            &:hover {
                border-radius: 20px;
            }
        }
    }
}
 