@import url("https://fonts.googleapis.com/css?family=Mukta:700");
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #faf2ed;
  font-family: 'Mukta', sans-serif;
}

body textarea:focus, body input:focus {
  outline: none;
}

.landing__section {
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
}

.landing__section .first {
  width: 100%;
  height: 100%;
  background-color: #313030;
  position: relative;
}

.landing__section .first h2 {
  position: absolute;
  left: 5%;
  top: 2%;
  font-size: 27px;
  color: #faf2ed;
}

.landing__section .first .container {
  position: absolute;
  right: 3%;
  top: 9%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  overflow: hidden;
}

.landing__section .first .container .searchButton {
  margin-left: 8px;
  color: #faf2ed;
  border-radius: 50%;
  cursor: pointer;
}

.landing__section .first .container .searchButton .fas {
  padding: 9px;
}

.landing__section .first .container .searchButton .fa-times {
  padding: 8px 11px;
  color: #faf2ed;
}

.landing__section .first .container .fa-shopping-cart {
  margin-left: 8px;
  cursor: pointer;
  padding: 9px  5px 9px 5px;
  color: #faf2ed;
}

.landing__section .first .container input {
  max-width: 80%;
  border: none;
  background-color: #04eeee00;
  border-bottom: 1px solid #faf2ed;
  -webkit-transform: translateY(150%);
          transform: translateY(150%);
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
}

.landing__section .first .container input::-webkit-input-placeholder {
  color: #faf2ed;
  font-size: 14px;
  letter-spacing: 1px;
}

.landing__section .first .container input:-ms-input-placeholder {
  color: #faf2ed;
  font-size: 14px;
  letter-spacing: 1px;
}

.landing__section .first .container input::-ms-input-placeholder {
  color: #faf2ed;
  font-size: 14px;
  letter-spacing: 1px;
}

.landing__section .first .container input::placeholder {
  color: #faf2ed;
  font-size: 14px;
  letter-spacing: 1px;
}

.landing__section .first img {
  width: 100%;
  position: absolute;
  bottom: -25%;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(65deg);
          transform: translateX(-50%) rotate(65deg);
  -webkit-animation: move 3s forwards;
          animation: move 3s forwards;
  z-index: 10;
}

@-webkit-keyframes move {
  0% {
    bottom: 0%;
    -webkit-transform: translateX(-50%) rotate(65deg);
            transform: translateX(-50%) rotate(65deg);
  }
  60% {
    bottom: -35;
    -webkit-transform: translateX(-50%) rotate(65deg);
            transform: translateX(-50%) rotate(65deg);
  }
  80% {
    bottom: -25%;
    -webkit-transform: translateX(-50%) rotate(360deg);
            transform: translateX(-50%) rotate(360deg);
  }
  90% {
    bottom: -25%;
    -webkit-transform: translateX(-50%) rotate(0deg);
            transform: translateX(-50%) rotate(0deg);
  }
  100% {
    bottom: -30%;
    -webkit-transform: translateX(-50%) rotate(0deg);
            transform: translateX(-50%) rotate(0deg);
  }
}

@keyframes move {
  0% {
    bottom: 0%;
    -webkit-transform: translateX(-50%) rotate(65deg);
            transform: translateX(-50%) rotate(65deg);
  }
  60% {
    bottom: -35;
    -webkit-transform: translateX(-50%) rotate(65deg);
            transform: translateX(-50%) rotate(65deg);
  }
  80% {
    bottom: -25%;
    -webkit-transform: translateX(-50%) rotate(360deg);
            transform: translateX(-50%) rotate(360deg);
  }
  90% {
    bottom: -25%;
    -webkit-transform: translateX(-50%) rotate(0deg);
            transform: translateX(-50%) rotate(0deg);
  }
  100% {
    bottom: -30%;
    -webkit-transform: translateX(-50%) rotate(0deg);
            transform: translateX(-50%) rotate(0deg);
  }
}

.landing__section .first h1 {
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  font-size: 38px;
  text-transform: uppercase;
  color: #faf2ed;
}

.landing__section .second {
  width: 100%;
  height: 100%;
  background-color: #313030;
  position: relative;
}

.landing__section .second .checkout {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  color: #faf2ed;
  padding: 15px 20px;
  border: 1px solid #faf2ed;
  border-radius: 5px;
  -webkit-transition-duration: 700ms;
          transition-duration: 700ms;
}

.landing__section .second .checkout:hover {
  border-radius: 20px;
}
/*# sourceMappingURL=style.css.map */