@import url("https://fonts.googleapis.com/css?family=Mukta:700");
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #5f5f5f;
  font-family: 'Mukta', sans-serif;
}

body textarea:focus, body input:focus {
  outline: none;
}

.landing__section {
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
}

.landing__section .first {
  width: 100%;
  height: 100%;
  background-color: #5f5f5f;
  position: relative;
}

.landing__section .first h2 {
  position: absolute;
  left: 5%;
  top: 2%;
  font-size: 27px;
  color: #faf2ed;
}

.landing__section .first .container {
  position: absolute;
  right: 3%;
  top: 9%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  overflow: hidden;
}

.landing__section .first .container .searchButton {
  margin-left: 8px;
  color: #faf2ed;
  border-radius: 50%;
  cursor: pointer;
}

.landing__section .first .container .searchButton .fas {
  padding: 9px;
}

.landing__section .first .container .searchButton .fa-times {
  padding: 8px 11px;
  color: #faf2ed;
}

.landing__section .first .container .fa-shopping-cart {
  margin-left: 8px;
  cursor: pointer;
  padding: 9px  5px 9px 5px;
  color: #faf2ed;
}

.landing__section .first .container input {
  max-width: 80%;
  border: none;
  background-color: #04eeee00;
  border-bottom: 1px solid #faf2ed;
  -webkit-transform: translateY(150%);
          transform: translateY(150%);
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
  color: #faf2ed;
}

.landing__section .first .container input::-webkit-input-placeholder {
  color: #faf2ed;
  font-size: 14px;
  letter-spacing: 1px;
}

.landing__section .first .container input:-ms-input-placeholder {
  color: #faf2ed;
  font-size: 14px;
  letter-spacing: 1px;
}

.landing__section .first .container input::-ms-input-placeholder {
  color: #faf2ed;
  font-size: 14px;
  letter-spacing: 1px;
}

.landing__section .first .container input::placeholder {
  color: #faf2ed;
  font-size: 14px;
  letter-spacing: 1px;
}

.landing__section .first img {
  width: 85%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: move 1700ms forwards ease-in-out;
          animation: move 1700ms forwards ease-in-out;
}

@-webkit-keyframes move {
  0% {
    bottom: -80%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    bottom: 0%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 10;
  }
}

@keyframes move {
  0% {
    bottom: -80%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    bottom: 0%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 10;
  }
}

.landing__section .first h1 {
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  font-size: 36px;
  text-transform: uppercase;
  color: #faf2ed;
}

.landing__section .second {
  width: 100%;
  height: 100%;
  background-color: #5f5f5f;
  position: relative;
  z-index: 20;
}

.landing__section .second .checkout {
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.landing__section .second .checkout .first {
  color: #faf2ed;
  text-decoration: none;
  background-color: #5f5f5f;
  padding: 15px 35px;
  border: 1px solid #faf2ed;
  margin: 0 10px;
}

.landing__section .second .checkout .second {
  color: #faf2ed;
  text-decoration: none;
  background-color: #5f5f5f;
  padding: 15px 12px;
  border: 1px solid #faf2ed;
  margin: 0 10px;
}

.landing__section .second p {
  color: #faf2ed;
  width: 80%;
  margin: 10px auto;
  text-align: center;
}

.second__section {
  height: auto;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  background-color: #fff;
}

.second__section .item__selection {
  border: 1px solid #faf2ed;
  padding: 10px;
  margin: 15px 0;
  background-color: #5f5f5f;
  color: #fff;
}

.second__section .item__selection h4 {
  font-size: 20px;
  margin: 15px 0;
}

.second__section .item__selection P {
  font-size: 14px;
  margin: 15px 0;
}

.second__section .item__selection img {
  width: 100%;
}

.empty__section {
  background-image: url(https://s.aolcdn.com/hss/storage/midas/f586f2fbc386746f44cf0621b4dacefe/204225149/mercedes-maybach.jpg);
  background-size: center;
  background-attachment: fixed;
  height: 20vh;
  width: 100%;
}

.contact__section {
  height: 60vh;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
}

.contact__section h1 {
  margin: 20px;
  color: #fff;
  font-size: 40px;
}

.contact__section a {
  text-decoration: none;
}

.contact__section i {
  color: #fff;
  padding: 10px;
}

.contact__section h4 {
  color: #fff;
}
/*# sourceMappingURL=style.css.map */