 @import url('https://fonts.googleapis.com/css?family=Mukta:700');

$bg-color : rgb(250, 242, 237);
$lightblue-color : #3d3d3d;
$rightviolet-color : #bebdbe;

 
$white: #fff;
$black: #5f5f5f;



* { 
    margin : 0 ; 
    padding:  0 ;  
}


html , body {
    height: 100%;
    
    width: 100%;
    overflow-x: hidden;

}

body {
    background-color: $black;
    font-family: 'Mukta', sans-serif; 




    textarea:focus, input:focus{
        outline: none;
    }
}


.landing__section {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 50% 50%;

    .first {
        width: 100%;
        height: 100%;   
        background-color: $black;
        position: relative; 

        h2 { 
            position: absolute; 
            left: 5%;
            top: 2%;
            font-size: 27px;
            color: $bg-color;
        }
        .container {
            position: absolute;
            right: 3%;
            top: 9%;
            display: flex;
            padding: 10px;
            transform: translateY(-50%); 
            overflow: hidden;


            .searchButton { 
                margin-left: 8px;
                color: $bg-color; 
                border-radius: 50%;
                cursor: pointer;

                .fas     { 
                    padding: 9px;  
                }

                .fa-times  {
                    padding: 8px 11px ; 
                    color:  $bg-color; 
                }
            }

            .fa-shopping-cart { 
                margin-left: 8px;  
                cursor: pointer;
                padding: 9px  5px 9px 5px; 
                color: $bg-color;
                
            }
            input { 
                max-width: 80%;
                border: none;
                background-color: #04eeee00;
                border-bottom: 1px solid $bg-color; 
                transform: translateY(150%);
                transition-duration: 1000ms;
                color: $bg-color;
 


                &::placeholder {
                    color: $bg-color;
                    font-size: 14px;
                    letter-spacing: 1px; 
                }
            }
        }


        img { 
            width: 85%;
            position: absolute; 
            left: 50%;
            transform: translateX(-50%);
            animation: move 1700ms forwards ease-in-out; 

            @keyframes move {
                0% { 
                    bottom: -80%;
                    transform: translateX(-50%);
                }
 
                100%{
                    bottom: 0%;
                    transform: translateX(-50%); 
                    z-index: 10;
                }
            }
        }
        h1 { 
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 100%;
            text-align: center;
            font-size: 36px;
            text-transform: uppercase;
            color: $bg-color;
        }
    }


    .second { 
        width: 100%;
        height: 100%;
        background-color: $black;
        position : relative; 
        z-index: 20;


        .checkout { 
            position: absolute;
            top: 70%;
            left: 50%;
            transform: translate(-50%,-50%); 
            width: 100%;
            text-align: center;
            
            .first { 
                color : $bg-color;
                text-decoration: none;
                background-color: $black;
                padding: 15px 35px;
                border: 1px solid $bg-color;
                margin: 0 10px;
            }
            .second {
                color: $bg-color;
                text-decoration: none;
                background-color: $black;
                padding: 15px 12px;
                border: 1px solid $bg-color;
                margin: 0 10px;

            }
        }

        p { 
            color: $bg-color;
            width: 80%;
            margin: 10px auto;
            text-align: center;     
        }
    } 
 
}
 
.second__section {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-rows: auto auto auto;
    background-color: $white;
    



    .item__selection {
        border: 1px solid $bg-color; 
        padding: 10px;
        margin: 15px 0;
        background-color: $black;
        color: $white;


        h4 { 
            font-size: 20px;
            margin: 15px 0;

        }
        P { 
            font-size: 14px;
            margin: 15px 0;
        }

        img {
            width: 100%; 
        }

    }

 
    
}


.empty__section {  
    background-image: url(https://s.aolcdn.com/hss/storage/midas/f586f2fbc386746f44cf0621b4dacefe/204225149/mercedes-maybach.jpg); 
    background-size: center; 
    background-attachment: fixed;    
    height: 20vh;
    width: 100%;
}













